*{
    margin: 0;
    padding: 0;
}

header
{
height: 150px;
width: 100%;

}


body {
    background-color: rgb(184, 231, 253);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h1
{
    color: black;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3
{
  padding: 8px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: rgb(33, 175, 241);
}

.keskita {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: left; 
}

.valikko 
{
    position: relative;
    display: inline-block;

}

.nappi {

    width: 60px; 
    background: no-repeat; 
    padding: 5px;
    
}

button:hover
{
    background-color: rgb(46, 34, 218);
}

ul {
  
  float: right;
  margin-top: 10px;
}
  
ul li {
   
    display: block;
    padding: 10px;
    background-color: rgb(134, 206, 240);
}

ul li a
{
  text-decoration: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
ul li a:hover
{
  color:rgb(46, 34, 218);

}

#dropcontent {
    position: absolute;
    z-index: 1;
    padding: 10px;
}

#dropcontent a {
    display: block;
    margin-top: 5px;
    padding: 0px;
    text-decoration: none;
    background: #dfdfdf;
    font-size: 25px;
    margin-right: 10px;
    text-align: center;
}

a:hover
{
    color:rgb(46, 34, 218);
}
a
{
    color: black;
}

article
{
    background-color: whitesmoke;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 30px;
    width: 70%;
    font-size: 25px;
}

footer
{
    float: right;
    font-size: 15px;
}

.kuva {
    position: relative;
    text-align: center;
    color: white;
    margin: -5px;
    
  }

  
  .teksti {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);

  }



  .sidos
  {
      width: 100%;
      height: 300px;
      background-image: url(images/meri2.jpg);
      background-size: cover;
      background-position: center;
    
  }

  @media only screen and (max-width: 1100px)
  {
      
    .teksti
    {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
    }

    .headerCV {
   
        height: 300px;
        width: 100%;
    
      }

      .aloitusDiv
      {
        max-width: 90%; 
        display: block; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 20px;
      }

  }

  .aloitusDiv
  {
    max-width: 600px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 50px;
  }

  .info
  {
    font-size: 20px; 
    max-width: 400px; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    padding: 15px; 
    border: 7px solid rgb(33, 175, 241);
    background-color: whitesmoke;
  }

  .lippu
  {
    width: 55px;
    padding: 15px 10px 0px 10px;
  }

  .logo
  {
  
    width: 87px;
    display: block;
    margin-left: 48%;
    margin-right: auto;
    margin-top: -70px;
  }

  .vasen
  {
    width: 300px;
    display: block;
    float: left;
    margin-left: 50px;
  }

  .oikea
  {
    width: 300px;
    display: block;
    float: right;
    margin-right: 50px;
  }

  .keski
  {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ol
  {
    margin-left: 20px;
   
  }

  ol li
  {
    list-style: disc;
    padding: 5px;
  }

  ol li p
  {
    padding: 5px;
    font-size: 20px;
  }